@import 'shared';

.home {
  width: 100%;
  height: 100vh;
  overflow: scroll;

  &--no-scroll {
    overflow: hidden;
  }
}

.home-banner-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #ddd;
  position: relative;
  overflow: hidden;

  .home-banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      @media only screen and (min-width: 1060px) {
        width: 100%;
      }

      @media only screen and (max-width: 1060px) {
        height: 100%;
      }
    }
  }

  .home-banner {
    height: 100%;
    width: 100%;
    padding: 0 70px;
    padding-top: 32vh;
    position: relative;
    z-index: 3;

    .home-banner__caret {
      width: 100%;
      display: flex;
      justify-content: center;

      i {
        color: white;
      }
    }

    .home-banner__title {
      margin-bottom: 4vh;

      h1 {
        color: black;
        display: inline-block;
        font-style: none;
        font-weight: none;
        font-size: 2.5em;
        line-height: 1.2em;
 /*       background-color: #adb6aa; */
      }

      &--name {
        padding-left: 10vw;
        color: black;
        display: inline-block;
        font-style: italic;
        font-weight: bold;
        font-size: 2em;
        letter-spacing: 4px;
 /*       background-color: #adb6aa; */
      }

      &--motto {
      padding-left: 10vw; 

      }

      &--bio, &--workshops {
      padding-left: 10vw;

      }

      &--bio {
        font-family: Lato;
        color: black;
        display: inline-block;
        font-style: none;
        font-weight: none;
        font-size: 0.5em;
 /*       background-color: #adb6aa; */
      }

      &--workshops {
       
       /* padding-left: 29vw; */
      }
    }
  }
}

