.nav-wrapper {
  position: fixed;
  left: 0;
  width: 90px;
  height: 100vh;
  border-right: 1px solid #eee;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
  z-index: 5;

  .nav {
    position: relative;
    height: 100%;

    .nav__links {
      position: absolute;
      margin-top: 120px;
      left: 50%;
      transform: translateX(-50%) rotate(-90deg);
      display: flex;
      flex-direction: row;

      li {
        margin-right: 20px;
        padding-bottom: 8px;
        display: flex;
        align-items: center;

        &:last-child {
          margin: 0;
        }

        a {
          font-style: bold;
        }

        .nav__dropdown {
          position: absolute;
          display: none;
          transform: translateX(-40px) translateY(85px) rotate(90deg);
          border: 1px solid #eee;
          background-color: white;

          &--show {
            display: block;
          }

          li {
            padding: 5px 10px;
            margin-right: 0;

            &:first-child {
              padding-top: 10px;
            }

            &:last-child {
              padding-bottom: 10px;
            }

            &:hover {
              opacity: 0.7;
            }

            a {
              font-style: none;
              font-size: 0.95em;
            }
          }
        }

        .nav__logo {
          font-family: 'Playfair Display';
          font-size: 28px;
          font-style: italic;
          letter-spacing: 1px;
        }

        .nav__link {
          font-family: Lato;
          font-style: none;
          text-transform: Capitalize;
          font-size: 18px;
          padding-top: 6px;

          &:hover {
            opacity: 0.7;
          }
        }

      }
    }


    .nav__social {
      width: 100%;
      position: absolute;
      bottom: 0;
      margin-bottom: 30px;

      .nav__icon-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }

        i {
          padding: 0 2px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

