@import 'shared';

$item-bottom-margin: 16px;

.project {
  min-height: 100vh;
  width: 100vw;
  padding-left: 90px;

  .project-banner {
    width: 100%;
    height: 40vh;
    min-height: 280px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;

    .project-banner__img-wrapper {
      height: 100%;

      img {
        min-height: 40vh;

        @media only screen and (min-width: 950px) {
          width: 100%;
        }

        @media only screen and (max-width: 950px) {
          height: 100%;
        }
      }
    }

    .project-banner__title {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      padding: 2.2vh 2.7vw;

      h2, h3 {
        color: #333;
        background-color: #fff;
        display: inline-block;
        letter-spacing: 1px;
        padding: 0 4px;
      }

      .project-banner__category {
        margin-bottom: 8px;
        h3 {
          text-transform: uppercase;
          font-family: Lato;
        }
      }

      .project-banner__name {
        h2 {
          margin-right: 10px;
          font-size: 2.5em;
          text-transform: lowercase;
        }
      }
    }
  }

  .project-footer {
    display: flex;
    justify-content: space-between;

    &__link {
      padding: 25px 40px;
      cursor: pointer;

      &:last-child {
        text-align: right;
      }

      &:hover {
        p {
          opacity: 0.7;
        }
      }

      p {
        font-family: lato;
        font-size: 0.95em;
        margin-bottom: 5px;


        &:last-child {
          font-weight: bold;
          margin-bottom: 0;
        }
      }
    }

  }

  .project-body {
    padding-top: 50px;
    width: 700px;
    margin: 0 auto;

    h2, h4 {
      font-family: Lato;
    }

    p, h4, ul, ol {
      margin: 0;
      margin-bottom: $item-bottom-margin;
    }

    ul, ol, h4 {
      padding: 0 30px;
    }

    h4 {
      font-size: 0.95em;
      font-weight: normal;
      font-style: italic;
      line-height: 1.5;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul, ol {
      list-style-position: inside;

      li {
        font-size: 0.95em;
        margin-bottom: 15px;
        line-height: 1.5;
        padding: 0 38px;
      }
    }

    ul {
      li {
        list-style-type: circle;
      }
    }

    p {
      @include body-text-normal();
      @include body-break-word();
      text-align: left;
    }

    &__quote {
      border-left: 4px solid #333;
      margin-bottom: 40px;
      padding: 12px 0;

      p {
        font-style: italic;
        text-indent: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__iframe-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      margin-bottom: $item-bottom-margin;

      .project-body__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    h2 {
      margin-bottom: 4.6vh;
      line-height: 1.5;
    }

    h3 {
      @include body-text-lg();
      padding-top: 20px;

      &:first-child {
        padding-top: 0;
      }
    }

    &__img {
      display: flex;
      justify-content: center;
      margin-bottom: $item-bottom-margin;

      img {
        width: 50%;
        height: 100%;
      }
    }
  }
}
