.resume-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  color: white;

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  padding: 15px;

  .react-pdf {
    &__Document {
      max-width: 100%;
    }

    &__Page {
      max-width: 90vw;
      width: 900px;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
  }

  &__close {
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &__download {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 14px;
    padding: 15px;

    a {
      color: white;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
