@mixin body-break-word() {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.panels {
  width: 100%;
  display: flex;
  flex-direction: row;

  a {
    display: block;
  }

  .panel {
    padding: 0 2vw;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
      margin-bottom: 3vh;
    }

    .panel__title {
      text-align: center;

      h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-style: italic;
        font-weight: normal;
      }
    }
  }
}
