@mixin body-text-normal() {
  font-family: Lato;
  font-size: 1.1em;
  line-height: 1.7;

  i {
    font-style: italic;
  }

  b {
    font-style: bold;
  }

  u {
    text-decoration: underline;
  }
}

@mixin body-text-lg() {
  font-family: Lato;
  line-height: 1.5;
  font-weight: normal;
  font-style: bold;
  font-size: 1.5em;
}

@mixin page-headline() {
  font-size: 3.5em;
  font-style: italic;
  letter-spacing: 2px;
}

@mixin page-headline-padding() {
  padding: 85px 70px;
  padding-bottom: 0;
}

@mixin body-break-word() {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.panels {
  width: 100%;
  display: flex;
  flex-direction: row;

  a {
    display: block;
  }

  .panel {
    padding: 0 2vw;

    &:hover {
      cursor: pointer;
    }

    &__thumb {
      width: 100%;
      margin-bottom: 3vh;

      img {
        width: 100%;
      }
    }

    &__title {
      text-align: center;

      h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-weight: normal;
      }
    }
  }
}
