@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,400bold');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400italic,400bold');
@import '~font-awesome/css/font-awesome.min.css';
@import 'nav';
@import 'home';
@import 'project';
@import 'category';
@import 'resume-overlay';
@import 'shared';

.App {
  width: 100%;

  &--no-scroll {
    height: 100vh;
    overflow: hidden;
  }
}

