@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,400bold");
@import url(~font-awesome/css/font-awesome.min.css);
.nav {
  position: fixed;
  left: 0;
  width: 90px;
  height: 100vh;
  border-right: 1px solid #eee;
  background: white;
  background: rgba(255, 255, 255, 0.3); }
  .nav ul {
    position: absolute;
    margin-top: 120px;
    left: 50%;
    padding-bottom: 8px;
    transform: translateX(-50%) rotate(-90deg);
    display: flex;
    flex-direction: row; }
    .nav ul li {
      margin-right: 20px;
      display: flex;
      align-items: center; }
      .nav ul li:last-child {
        margin: 0; }
      .nav ul li a {
        font-style: italic; }
      .nav ul li .nav__logo {
        font-family: 'Playfair Display';
        font-size: 28px;
        letter-spacing: 1px; }
      .nav ul li .nav__link {
        font-family: Lato;
        text-transform: uppercase;
        font-size: 18px;
        padding-top: 6px; }
        .nav ul li .nav__link:hover {
          opacity: 0.7; }
  .nav .nav__social {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px; }
    .nav .nav__social .nav__icon-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 15px; }
      .nav .nav__social .nav__icon-container:hover {
        opacity: 0.7;
        cursor: pointer; }
      .nav .nav__social .nav__icon-container i {
        padding: 0 2px; }
      .nav .nav__social .nav__icon-container:last-child {
        margin-bottom: 0; }

.home {
  width: 100%; }

.home-banner {
  height: 100vh;
  width: 100vw;
  padding: 0 90px;
  padding-top: 5vh;
  background-color: #ddd; }
  .home-banner .home-banner__caret {
    width: 100%;
    display: flex;
    justify-content: center; }
    .home-banner .home-banner__caret i {
      color: white; }
  .home-banner .home-banner__title {
    margin-bottom: 4.2vh; }
    .home-banner .home-banner__title h1 {
      color: white;
      display: inline-block;
      font-style: italic;
      font-weight: bold;
      font-size: 80px;
      letter-spacing: 4px;
      background-color: #a8a8a8; }
    .home-banner .home-banner__title--name {
      padding-left: 14vw; }
    .home-banner .home-banner__title--design {
      padding-left: 10vw; }
    .home-banner .home-banner__title--creative h1, .home-banner .home-banner__title--workshops h1 {
      text-decoration: underline; }
    .home-banner .home-banner__title--creative {
      padding-left: 24vw; }
    .home-banner .home-banner__title--workshops {
      padding-left: 29vw; }

.home-categories-container {
  height: 100vh;
  width: 100vw;
  padding-left: 90px; }
  .home-categories-container .home-categories__title {
    padding: 12vh 10vw 0 5.5vw;
    display: flex;
    flex-direction: row; }
    .home-categories-container .home-categories__title h2 {
      font-style: italic;
      font-size: 7.6vh;
      font-weight: bold;
      letter-spacing: 2px; }
    .home-categories-container .home-categories__title .home-categories__title-blank {
      border-bottom: 3px solid #333;
      flex: 1; }
  .home-categories-container .home-categories {
    padding: 8.5vh 9.3vw;
    padding-bottom: 0; }
    .home-categories-container .home-categories .home-category {
      width: 33.3%; }

.panels {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .panels a {
    display: block; }
  .panels .panel {
    padding: 0 2vw; }
    .panels .panel:hover {
      cursor: pointer; }
    .panels .panel img {
      width: 100%;
      margin-bottom: 3vh; }
    .panels .panel .panel__title {
      text-align: center; }
      .panels .panel .panel__title h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-style: italic;
        font-weight: normal; }

.project {
  min-height: 100vh;
  width: 100vw;
  padding-left: 90px; }
  .project .project-banner {
    padding: 2.2vh 2.7vw;
    width: 100%;
    height: 37vh;
    background-color: #ddd;
    display: flex;
    align-items: flex-end; }
    .project .project-banner .project-banner__title h2 {
      color: #fff;
      margin-right: 10px;
      font-size: 2.5em;
      letter-spacing: 1px;
      text-transform: lowercase; }
    .project .project-banner .project-banner__title .project-banner__category {
      font-family: Lato; }
    .project .project-banner .project-banner__title h3 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px; }
  .project .project-body {
    padding: 7.5vh 16vw; }
    .project .project-body p {
      font-family: Lato;
      margin-bottom: 5.6vh;
      padding: 0 2.3vw;
      text-align: left;
      text-indent: 3vw;
      line-height: 1.5;
      font-size: 0.95em;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto; }
    .project .project-body h2 {
      font-family: Lato;
      margin-bottom: 4.6vh;
      line-height: 1.5; }
    .project .project-body h3 {
      font-family: Lato;
      font-style: italic;
      font-weight: normal;
      font-size: 1.5em;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 2.6vh; }
    .project .project-body ol li {
      margin-bottom: 15px;
      line-height: 1.5; }
    .project .project-body__img {
      display: flex;
      justify-content: center;
      margin-bottom: 2.6vh; }
      .project .project-body__img img {
        width: 50%;
        height: 100%; }

.category {
  height: 100vh;
  width: 100vw;
  padding-left: 90px; }
  .category .category__title {
    padding: 10.5vh 10vw 0 5.5vw; }
    .category .category__title h3 {
      text-transform: uppercase;
      font-family: Lato;
      font-size: 2.65vh;
      letter-spacing: 1px; }
    .category .category__title h2 {
      text-transform: lowercase;
      font-size: 8.5vh; }
  .category .projects {
    padding: 8.5vh 14.2vw; }
    .category .projects .project-summary {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 5.5vh; }
      .category .projects .project-summary:last-child {
        margin-bottom: 0; }
      .category .projects .project-summary:hover {
        cursor: pointer; }
      .category .projects .project-summary .project-summary__thumb {
        width: 25%; }
        .category .projects .project-summary .project-summary__thumb img {
          width: 100%; }
      .category .projects .project-summary .project-summary__body {
        width: 75%;
        padding: 2vw 4vw; }
        .category .projects .project-summary .project-summary__body p, .category .projects .project-summary .project-summary__body h3 {
          font-family: Lato; }
        .category .projects .project-summary .project-summary__body h3 {
          letter-spacing: 1px;
          font-size: 2.65vh;
          margin-bottom: 1.8vh; }
        .category .projects .project-summary .project-summary__body p {
          font-size: 2.1vh;
          line-height: 1.4; }

.resume-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  padding: 15px; }
  .resume-overlay .react-pdf__Document {
    max-width: 100%; }
  .resume-overlay .react-pdf__Page {
    max-width: 90vw;
    width: 900px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px; }
  .resume-overlay__close {
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0; }
    .resume-overlay__close:hover {
      opacity: 0.7;
      cursor: pointer; }
  .resume-overlay__download {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 14px;
    padding: 15px; }
    .resume-overlay__download a {
      color: white; }
      .resume-overlay__download a:hover {
        opacity: 0.7; }

.panels {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .panels a {
    display: block; }
  .panels .panel {
    padding: 0 2vw; }
    .panels .panel:hover {
      cursor: pointer; }
    .panels .panel img {
      width: 100%;
      margin-bottom: 3vh; }
    .panels .panel .panel__title {
      text-align: center; }
      .panels .panel .panel__title h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-style: italic;
        font-weight: normal; }

.panels {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .panels a {
    display: block; }
  .panels .panel {
    padding: 0 2vw; }
    .panels .panel:hover {
      cursor: pointer; }
    .panels .panel img {
      width: 100%;
      margin-bottom: 3vh; }
    .panels .panel .panel__title {
      text-align: center; }
      .panels .panel .panel__title h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-style: italic;
        font-weight: normal; }

.about {
  padding: 90px;
  min-height: 100vh;
  width: 100vw; }

.App {
  width: 100%; }
  .App--no-scroll {
    height: 100vh;
    overflow: hidden; }
