@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,400bold");
@import url(~font-awesome/css/font-awesome.min.css);
.nav-wrapper {
  position: fixed;
  left: 0;
  width: 90px;
  height: 100vh;
  border-right: 1px solid #eee;
  background: white;
  background: rgba(255, 255, 255, 0.3);
  z-index: 5; }
  .nav-wrapper .nav {
    position: relative;
    height: 100%; }
    .nav-wrapper .nav .nav__links {
      position: absolute;
      margin-top: 120px;
      left: 50%;
      transform: translateX(-50%) rotate(-90deg);
      display: flex;
      flex-direction: row; }
      .nav-wrapper .nav .nav__links li {
        margin-right: 20px;
        padding-bottom: 8px;
        display: flex;
        align-items: center; }
        .nav-wrapper .nav .nav__links li:last-child {
          margin: 0; }
        .nav-wrapper .nav .nav__links li a {
          font-style: bold; }
        .nav-wrapper .nav .nav__links li .nav__dropdown {
          position: absolute;
          display: none;
          transform: translateX(-40px) translateY(85px) rotate(90deg);
          border: 1px solid #eee;
          background-color: white; }
          .nav-wrapper .nav .nav__links li .nav__dropdown--show {
            display: block; }
          .nav-wrapper .nav .nav__links li .nav__dropdown li {
            padding: 5px 10px;
            margin-right: 0; }
            .nav-wrapper .nav .nav__links li .nav__dropdown li:first-child {
              padding-top: 10px; }
            .nav-wrapper .nav .nav__links li .nav__dropdown li:last-child {
              padding-bottom: 10px; }
            .nav-wrapper .nav .nav__links li .nav__dropdown li:hover {
              opacity: 0.7; }
            .nav-wrapper .nav .nav__links li .nav__dropdown li a {
              font-style: none;
              font-size: 0.95em; }
        .nav-wrapper .nav .nav__links li .nav__logo {
          font-family: 'Playfair Display';
          font-size: 28px;
          font-style: italic;
          letter-spacing: 1px; }
        .nav-wrapper .nav .nav__links li .nav__link {
          font-family: Lato;
          font-style: none;
          text-transform: Capitalize;
          font-size: 18px;
          padding-top: 6px; }
          .nav-wrapper .nav .nav__links li .nav__link:hover {
            opacity: 0.7; }
    .nav-wrapper .nav .nav__social {
      width: 100%;
      position: absolute;
      bottom: 0;
      margin-bottom: 30px; }
      .nav-wrapper .nav .nav__social .nav__icon-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px; }
        .nav-wrapper .nav .nav__social .nav__icon-container:hover {
          opacity: 0.7;
          cursor: pointer; }
        .nav-wrapper .nav .nav__social .nav__icon-container i {
          padding: 0 2px; }
        .nav-wrapper .nav .nav__social .nav__icon-container:last-child {
          margin-bottom: 0; }

.panels {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .panels a {
    display: block; }
  .panels .panel {
    padding: 0 2vw; }
    .panels .panel:hover {
      cursor: pointer; }
    .panels .panel__thumb {
      width: 100%;
      margin-bottom: 3vh; }
      .panels .panel__thumb img {
        width: 100%; }
    .panels .panel__title {
      text-align: center; }
      .panels .panel__title h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-weight: normal; }

.home {
  width: 100%;
  height: 100vh;
  overflow: scroll; }
  .home--no-scroll {
    overflow: hidden; }

.home-banner-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #ddd;
  position: relative;
  overflow: hidden; }
  .home-banner-wrapper .home-banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    @media only screen and (min-width: 1060px) {
      .home-banner-wrapper .home-banner-img img {
        width: 100%; } }
    @media only screen and (max-width: 1060px) {
      .home-banner-wrapper .home-banner-img img {
        height: 100%; } }
  .home-banner-wrapper .home-banner {
    height: 100%;
    width: 100%;
    padding: 0 70px;
    padding-top: 32vh;
    position: relative;
    z-index: 3; }
    .home-banner-wrapper .home-banner .home-banner__caret {
      width: 100%;
      display: flex;
      justify-content: center; }
      .home-banner-wrapper .home-banner .home-banner__caret i {
        color: white; }
    .home-banner-wrapper .home-banner .home-banner__title {
      margin-bottom: 4vh; }
      .home-banner-wrapper .home-banner .home-banner__title h1 {
        color: black;
        display: inline-block;
        font-style: none;
        font-weight: none;
        font-size: 2.5em;
        line-height: 1.2em;
        /*       background-color: #adb6aa; */ }
      .home-banner-wrapper .home-banner .home-banner__title--name {
        padding-left: 10vw;
        color: black;
        display: inline-block;
        font-style: italic;
        font-weight: bold;
        font-size: 2em;
        letter-spacing: 4px;
        /*       background-color: #adb6aa; */ }
      .home-banner-wrapper .home-banner .home-banner__title--motto {
        padding-left: 10vw; }
      .home-banner-wrapper .home-banner .home-banner__title--bio, .home-banner-wrapper .home-banner .home-banner__title--workshops {
        padding-left: 10vw; }
      .home-banner-wrapper .home-banner .home-banner__title--bio {
        font-family: Lato;
        color: black;
        display: inline-block;
        font-style: none;
        font-weight: none;
        font-size: 0.5em;
        /*       background-color: #adb6aa; */ }
      .home-banner-wrapper .home-banner .home-banner__title--workshops {
        /* padding-left: 29vw; */ }

.panels {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .panels a {
    display: block; }
  .panels .panel {
    padding: 0 2vw; }
    .panels .panel:hover {
      cursor: pointer; }
    .panels .panel__thumb {
      width: 100%;
      margin-bottom: 3vh; }
      .panels .panel__thumb img {
        width: 100%; }
    .panels .panel__title {
      text-align: center; }
      .panels .panel__title h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-weight: normal; }

.project {
  min-height: 100vh;
  width: 100vw;
  padding-left: 90px; }
  .project .project-banner {
    width: 100%;
    height: 40vh;
    min-height: 280px;
    background-color: #ddd;
    position: relative;
    overflow: hidden; }
    .project .project-banner .project-banner__img-wrapper {
      height: 100%; }
      .project .project-banner .project-banner__img-wrapper img {
        min-height: 40vh; }
        @media only screen and (min-width: 950px) {
          .project .project-banner .project-banner__img-wrapper img {
            width: 100%; } }
        @media only screen and (max-width: 950px) {
          .project .project-banner .project-banner__img-wrapper img {
            height: 100%; } }
    .project .project-banner .project-banner__title {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      padding: 2.2vh 2.7vw; }
      .project .project-banner .project-banner__title h2, .project .project-banner .project-banner__title h3 {
        color: #333;
        background-color: #fff;
        display: inline-block;
        letter-spacing: 1px;
        padding: 0 4px; }
      .project .project-banner .project-banner__title .project-banner__category {
        margin-bottom: 8px; }
        .project .project-banner .project-banner__title .project-banner__category h3 {
          text-transform: uppercase;
          font-family: Lato; }
      .project .project-banner .project-banner__title .project-banner__name h2 {
        margin-right: 10px;
        font-size: 2.5em;
        text-transform: lowercase; }
  .project .project-footer {
    display: flex;
    justify-content: space-between; }
    .project .project-footer__link {
      padding: 25px 40px;
      cursor: pointer; }
      .project .project-footer__link:last-child {
        text-align: right; }
      .project .project-footer__link:hover p {
        opacity: 0.7; }
      .project .project-footer__link p {
        font-family: lato;
        font-size: 0.95em;
        margin-bottom: 5px; }
        .project .project-footer__link p:last-child {
          font-weight: bold;
          margin-bottom: 0; }
  .project .project-body {
    padding: 7.5vh 16vw; }
    .project .project-body h2, .project .project-body h4 {
      font-family: Lato; }
    .project .project-body p, .project .project-body h4, .project .project-body ul, .project .project-body ol {
      padding: 0 30px;
      margin: 0;
      margin-bottom: 40px; }
    .project .project-body h4 {
      font-size: 1.1em; }
      .project .project-body h4:last-child {
        margin-bottom: 0; }
    .project .project-body ul, .project .project-body ol {
      list-style-position: inside; }
      .project .project-body ul li, .project .project-body ol li {
        font-size: 1em;
        margin-bottom: 15px;
        line-height: 1.7;
        padding: 0 38px; }
    .project .project-body ul li {
      list-style-type: circle; }
    .project .project-body p {
      font-family: Lato;
      font-size: 1.1em;
      line-height: 1.7;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      text-align: left;
      text-indent: 1vw; }
      .project .project-body p i {
        font-style: italic; }
      .project .project-body p b {
        font-style: bold; }
      .project .project-body p u {
        text-decoration: underline; }
    .project .project-body__quote {
      border-left: 4px solid #333;
      margin-bottom: 40px;
      padding: 12px 0; }
      .project .project-body__quote p {
        font-style: italic;
        text-indent: 0; }
        .project .project-body__quote p:last-child {
          margin-bottom: 0; }
    .project .project-body__iframe-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      margin-bottom: 40px; }
      .project .project-body__iframe-wrapper .project-body__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .project .project-body h2 {
      margin-bottom: 4.6vh;
      line-height: 1.5; }
    .project .project-body h3 {
      font-family: Lato;
      line-height: 1.5;
      font-weight: normal;
      font-style: bold;
      font-size: 1.5em;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-top: 20px; }
      .project .project-body h3:first-child {
        padding-top: 0; }
    .project .project-body__img {
      display: flex;
      justify-content: center;
      margin-bottom: 40px; }
      .project .project-body__img img {
        width: 80%;
        height: 100%; }

.panels {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .panels a {
    display: block; }
  .panels .panel {
    padding: 0 2vw; }
    .panels .panel:hover {
      cursor: pointer; }
    .panels .panel__thumb {
      width: 100%;
      margin-bottom: 3vh; }
      .panels .panel__thumb img {
        width: 100%; }
    .panels .panel__title {
      text-align: center; }
      .panels .panel__title h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-weight: normal; }

.category {
  height: 100vh;
  width: 100vw;
  padding-left: 90px; }
  .category .category__title {
    padding: 85px 70px;
    padding-bottom: 0; }
    .category .category__title h3 {
      text-transform: uppercase;
      font-family: Lato;
      font-size: 2.65vh;
      letter-spacing: 1px; }
    .category .category__title h2 {
      text-transform: lowercase;
      font-size: 8.5vh; }
  .category .projects {
    padding: 8.5vh 14.2vw; }
    .category .projects .project-summary {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 5.5vh; }
      .category .projects .project-summary:last-child {
        margin-bottom: 0; }
      .category .projects .project-summary:hover {
        cursor: pointer; }
      .category .projects .project-summary .project-summary__thumb {
        width: 25%; }
        .category .projects .project-summary .project-summary__thumb img {
          width: 100%; }
      .category .projects .project-summary .project-summary__body {
        width: 75%;
        padding: 2vw 4vw; }
        .category .projects .project-summary .project-summary__body p, .category .projects .project-summary .project-summary__body h3 {
          font-family: Lato; }
        .category .projects .project-summary .project-summary__body h3 {
          letter-spacing: 1px;
          font-size: 2.65vh;
          margin-bottom: 1.8vh; }
        .category .projects .project-summary .project-summary__body p {
          font-size: 0.95em;
          line-height: 1.5; }

.panels {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .panels a {
    display: block; }
  .panels .panel {
    padding: 0 2vw; }
    .panels .panel:hover {
      cursor: pointer; }
    .panels .panel__thumb {
      width: 100%;
      margin-bottom: 3vh; }
      .panels .panel__thumb img {
        width: 100%; }
    .panels .panel__title {
      text-align: center; }
      .panels .panel__title h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-weight: normal; }

.categories {
  height: 100vh;
  width: 100vw;
  padding-left: 90px; }
  .categories__title {
    padding: 85px 70px;
    padding-bottom: 0;
    padding-right: 128px;
    display: flex;
    flex-direction: row; }
    .categories__title h2 {
      font-size: 3.5em;
      font-style: italic;
      letter-spacing: 2px; }
    .categories__title--blank {
      border-bottom: 3px solid #333;
      flex: 1; }
  .categories__body {
    padding: 8.5vh 9.3vw;
    padding-bottom: 0; }
    .categories__body .category {
      width: 33.3%; }

.resume {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  padding: 15px; }
  .resume .react-pdf__Document {
    max-width: 100%; }
  .resume .react-pdf__Page {
    max-width: 90vw;
    width: 900px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px; }
  .resume__close {
    position: fixed;
    padding: 15px;
    top: 0;
    right: 0; }
    .resume__close:hover {
      opacity: 0.7;
      cursor: pointer; }

.panels {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .panels a {
    display: block; }
  .panels .panel {
    padding: 0 2vw; }
    .panels .panel:hover {
      cursor: pointer; }
    .panels .panel__thumb {
      width: 100%;
      margin-bottom: 3vh; }
      .panels .panel__thumb img {
        width: 100%; }
    .panels .panel__title {
      text-align: center; }
      .panels .panel__title h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-weight: normal; }

.panels {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .panels a {
    display: block; }
  .panels .panel {
    padding: 0 2vw; }
    .panels .panel:hover {
      cursor: pointer; }
    .panels .panel__thumb {
      width: 100%;
      margin-bottom: 3vh; }
      .panels .panel__thumb img {
        width: 100%; }
    .panels .panel__title {
      text-align: center; }
      .panels .panel__title h3 {
        letter-spacing: 1px;
        font-size: 3.6vh;
        font-family: Lato;
        font-weight: normal; }

.about {
  min-height: 100vh;
  width: 100vw;
  padding-left: 90px; }
  .about-title {
    padding: 85px 70px;
    padding-bottom: 0; }
    .about-title h2 {
      font-size: 3.5em;
      font-style: italic;
      letter-spacing: 2px; }
  .about-content {
    padding: 8.5vh 9.3vw;
    display: flex;
    flex-direction: row; }
  .about-profile {
    width: 30%;
    text-align: right; }
    .about-profile__picture {
      margin-bottom: 50px; }
      .about-profile__picture img {
        width: 100%; }
    .about-profile__resume-link {
      font-style: none;
      font-size: 1.1em;
      text-decoration: none; }
      .about-profile__resume-link:hover {
        opacity: 0.7; }
  .about-body {
    width: 70%;
    padding-left: 5.5vw; }
    .about-body p {
      font-family: Lato;
      font-size: 1.1em;
      line-height: 1.7;
      margin-bottom: 20px; }
      .about-body p i {
        font-style: italic; }
      .about-body p b {
        font-style: bold; }
      .about-body p u {
        text-decoration: underline; }
      .about-body p:last-child {
        margin-bottom: 0; }
    .about-body h3 {
      font-family: Lato;
      line-height: 1.5;
      font-weight: normal;
      font-style: bold;
      font-size: 1.5em;
      margin-bottom: 20px; }

.App {
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: Lato; }

img {
  image-orientation: from-image; }

* {
  box-sizing: border-box; }

p, h1, h2, h3, h4 {
  font-family: 'Playfair Display';
  margin: 0; }

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 0 10px; }
  button:hover {
    cursor: pointer; }

a {
  text-decoration: none;
  color: #333; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }
